<section ng-cloak flex id="meal-drink" layout="column">
    <div flex="5"></div>

    <div layout="row" layout-align="center end" layout-padding flex="none">
        <md-checkbox class="md-headline text-bold md-accent md-hue-3" ng-model="selection.ito">
            Desayuno ITO
        </md-checkbox>
    </div>

    <div layout="row" layout-align="center center" flex="noshrink">
        <div flex-gt-md="25" flex="15"></div>
        <div layout-gt-sm="row" layout="column"
             layout-align-gt-sm="center center" layout-align="center start" flex>

            <div flex="grow" layout="row" layout-align="end stretch">
                <h2 class="text-center">Comida</h2>
                <md-radio-group ng-model="selection.meal" layout-padding>
                    <md-radio-button class="md-accent md-hue-3"
                                     ng-repeat="meal in global.gamedata.meals | toArray | filter: itoSelected | orderBy: 'name'"
                                     value="{{meal.id}}">
                        {{meal.name}}
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div flex="10"></div>

            <div flex="grow" layout="row" layout-align="start stretch">
                <h2 class="text-center">Bebida</h2>
                <md-radio-group ng-model="selection.drink" layout-padding>
                    <md-radio-button class="md-accent md-hue-3"
                                     ng-repeat="drink in global.gamedata.drinks | toArray | filter: itoSelected | orderBy: 'name'"
                                     value="{{drink.id}}">
                        {{drink.name}}
                    </md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div flex-gt-md="25" flex="15"></div>
    </div>

    <!-- Botones de pedido -->
    <div layout-gt-sm="row" layout="column" layout-align="center center" flex="none">
        <md-button class="md-primary md-raised" ng-click="btnMakeOrder()">
            <md-icon ng-show="!hasOrdered()">
                free_breakfast
            </md-icon>
            <md-icon ng-show="hasOrdered()">
                sync
            </md-icon>
            {{ (hasOrdered() ? 'textChangeOrder' : 'textNewOrder') | translate }}
        </md-button>

        <md-button class="md-accent md-hue-1 md-raised" ng-click="btnLastDayOrder()" ng-show="hasOrdered()">
            <md-icon class="">event</md-icon>
            {{ 'textLastDayOrder' | translate }}
        </md-button>

        <md-button class="md-warn md-raised" ng-click="btnRemoveOrder()" ng-show="hasOrdered()">
            <md-icon>delete</md-icon>
            {{ 'textCancelOrder' | translate }}
        </md-button>
    </div>

    <div flex="5"></div>
</section>
