<md-content class="grey" flex layout="row" layout-align="center start" ng-cloak>
    <div class="md-padding" flex="90">
        <div layout="row" layout-align="center end" layout-padding>
            <md-checkbox class="md-headline" ng-model="selection.ito" aria-label="">
                Desayuno ITO
            </md-checkbox>
        </div>

        <div layout="row" layout-sm="column" layout-align="space-around start" layout-align-sm="center start">
            <div class="md-whiteframe-1dp md-padding kafhe-white-background align-stretch" flex="grow">
                <h2 class="text-center">Comida</h2>
                <md-radio-group ng-model="selection.meal">
                    <md-radio-button class=""
                                     ng-repeat="meal in global.gamedata.meals | toArray | filter: itoSelected | orderBy: 'name'"
                                     value="{{meal._id}}">
                        {{meal.name}}
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div class="md-whiteframe-1dp md-padding kafhe-white-background align-stretch" flex="grow">
                <h2 class="text-center">Bebida</h2>
                <md-radio-group ng-model="selection.drink" class="">
                    <md-radio-button class=""
                                     ng-repeat="drink in global.gamedata.drinks | toArray | filter: itoSelected | orderBy: 'name'"
                                     value="{{drink._id}}">
                        {{drink.name}}
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div class="btn-breakfast-list md-whiteframe-1dp md-padding kafhe-white-background align-stretch"
                 layout="column" layout-align="space-around center" flex="grow">
                <md-button class="md-primary" ng-click="btnMakeOrder()" flex="none">
                    <md-icon ng-show="global.user.game.order.meal === null && global.user.game.order.drink === null">
                        free_breakfast
                    </md-icon>
                    <md-icon ng-show="global.user.game.order.meal !== null || global.user.game.order.drink !== null">
                        sync
                    </md-icon>
                    {{ (global.user.game.order.meal !== null || global.user.game.order.drink !== null ?
                    'textChangeOrder' : 'textNewOrder') | translate }}
                </md-button>

                <md-button class="md-accent" ng-click="btnLastDayOrder()" flex="none"
                           ng-show="global.user.game.last_order.meal !== null || global.user.game.last_order.drink !== null">
                    <md-icon class="">event</md-icon>
                    {{ 'textLastDayOrder' | translate }}
                </md-button>

                <md-button class="md-warn" ng-click="btnRemoveOrder()" flex="none"
                           ng-show="global.user.game.order.meal !== null || global.user.game.order.drink !== null">
                    <md-icon>delete</md-icon>
                    {{ 'textCancelOrder' | translate }}
                </md-button>

            </div>
        </div>
    </div>
    <!-- AQUI pone el desayuno anterior -->
</md-content>
