<section layout="row" flex>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

        <md-toolbar class="">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
            <p>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>

    </md-sidenav>

    <md-content class="grey" flex layout="row" layout-align="center start" ng-cloak>
        <div class="md-padding" flex="90">
            <p>Hola vecinito</p>
            <a ng-click="toggleLeft()">Left</a>
            <a ng-click="toggleRight()">Right</a>
        </div>
    </md-content>

    <md-sidenav
            class="md-sidenav-right md-whiteframe-4dp"
            md-component-id="right"
            md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="RightCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <p hide show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>

    </md-sidenav>
</section>